{% extends 'base.html' %}


{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
    <div class="card-body p-3">
      <div class="row">
        <div class="col-10">
            <div class="card text-center">
              <div class="card">
                {{form.question}}
              </div>
              <div class="card-body">
              {% if questions.question_type == 'B' %}
                <div class="card-footer text-muted ">
                  <p> اجابة سوال الصح و الخطأ</p>
                  {{form.trueAndfalse}}
                </div>
              {% elif questions.question_type == 'A' %}
                  <div class="row row-cols-2">
                    <div class="col">{{form.answer_1}}</div>
                    <div class="col text-white bg-primary">{{form.choice_1}}</div>
                    <div class="col">{{form.answer_2}}</div>
                    <div class="col text-white bg-primary">{{form.choice_2}}</div>
                    <div class="col">{{form.answer_3}}</div>
                    <div class="col text-white bg-primary">{{form.choice_3}}</div>
                  </div>
              {% endif %}
                <div class="d-flex text-muted pt-3">
                  <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                      <strong class="text-gray-dark">{{form.answer_1}}</strong>
                      <a href="#">{{form.choice_1}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                {{form.grades}} درجة
              </div>
              <button type="submit" class="btn btn-success">Save changes</button>
              <a href="{% url 'questions' subject.created_by.id subject.id %}" class="btn btn-outline-secondary" role="button">Cancel</a>
            </div>
        </div>
      </div>
    </div>
  <br>   
</form>
{% endblock content %}
