{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'teacher'%}">{{ topic.name }}</a></li>
{% endblock %}

{% block content %}

    <div class="mb-4">
    <a href="{% url 'reply_questions' topic.created_by.pk topic.id %}" class="btn btn-primary">إضافة سؤال جديد</a>
    </div>
    <div class="card-header text-white bg-dark py-2 px-3" align="center"> 
      <b> 
        <mark> عنوان المادة :   {{ topic.name }}  </mark> 
      </b> 
    </div>
    
    {% for question in questions %}
        <div class="card mb-2" >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-10">
                <div class="row mb-3">
                  <div class="card text-center">
                    <div class="card-header">
                      {{question.question}}
                    </div>
                    <div class="card-body">
                      <div class="container">
                        <div class="row row-cols-2">
                        {% if question.question_type == 'A' %}
                          {% if question.choice_1 == True %}
                            <div class="col text-white bg-primary">{{question.choice_1}}</div>
                          {% elif question.choice_1 == False %}
                          <div>{{question.choice_1}}</div>
                          {% endif %}
                          <div class="col">{{question.answer_1}}</div>
                          {% if question.choice_2 == True %}
                            <div class="col text-white bg-primary">{{question.choice_2}}</div>
                          {% elif question.choice_2 == False %}
                          <div>{{question.choice_2}}</div>
                          {% endif %}
                          <div class="col">{{question.answer_2}}</div>
                          {% if question.choice_3 == True %}
                            <div class="col text-white bg-primary">{{question.choice_3}}</div>
                          {% elif question.choice_3 == False %}
                          <div>{{question.choice_3}}</div>
                          {% endif %}
                          <div class="col">{{question.answer_3}}</div>
                        {% elif question.question_type == 'B' %} 
                          {% if question.trueAndfalse == True %}
                            <p>صح</p>
                          {% elif question.trueAndfalse == False %}
                            <p>خطأ</p>
                          {% endif %}
                        {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-muted">
                      {{question.grades}} درجة
                    </div>
                  </div>
                {% if question.created_by == user %}
                  <div class="mt-3">
                    <a href="{% url 'edit_questions' question.subject.created_by.pk question.subject.pk question.pk %}" class="btn btn-primary btn-sm" role="button">تعديل</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          </div>
        </div>
    {% endfor %}

{% endblock content %}
