{% extends 'base.html' %}

{% load humanize %}

{% block content %}


{% for item in students %}
  <div class="col-sm-6">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">{{ item.name}}</h5>
        <p class="card-button">
          <span class="badge bg-light text-dark">إسم المادة <span class="badge bg-secondary">{{ item.subject}}</span></span>
          <span class="badge bg-info text-dark">عدد الاسئلة <span class="badge bg-secondary">{{ item.comments }}</span></span>
          <span class="badge bg-warning text-dark">عدد الاسئلة المجابة <span class="badge bg-secondary">4</span></span>
          <span class="badge bg-success">مجموع الدرجات <span class="badge bg-danger">4</span></span>
        </p>
        <a href="{% url 'solutions' item.id %}" class="btn btn-primary"> الاجوبة</a>
        <span class="badge bg-light text-dark">التاريخ <span class="badge bg-secondary">{{ item.created_dt|naturaltime }}</span></span>
      </div>
    </div>
  </div>
{%endfor%}

{% endblock content %}