{% extends 'base.html' %}

{% block content %}


<div class="container pb-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">اجابات الطلاب</h5>
            <table class="table" >
                <thead style="background-color: #e3f2fd;">
                  <tr>
                    <th scope="col">إسم الطالب</th>
                    <th scope="col">إسم المادة</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">الاجابات</th>
                    <th scope="col">مجموع الدرجات</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in students %}
                  <tr>
                    <th scope="col"> <a href="{% url 'solutions' item.id %}" > {{item.name}} </a></th>
                    <td>{{item.subject}}</td>
                    <td>{{item.created_dt}}</td>
                    <td>{{ item.comments }}</td>
                    <td><p class="salaryGrades"></p></td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}