{% extends 'base.html' %}

{% load humanize %}

{% block content %}


<div class="row p-4">
          <div class="mb-4">
            <!-- <a href="#" class="btn btn-primary">New Room</a> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            إضافة مادة إختبار
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">إنشاء غرفة امتحان جديدة</h5>
                      <button type="button" class="btn-close m-1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" novalidate>
                      {% csrf_token %}
                      <div class="modal-body">
                        <div class="row g-3 align-items-center">
                          <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">إدخل إسم المادة </label>
                          </div>
                          <div class="col-auto">
                            <input type="text" name="name" class="form-control" id="inputPassword6" >
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                        <input type="submit" value="حفظ" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                </div>
            </div>
          </div>
{%for item in subject %}
  <div class="col-sm-6">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">{{ item.name}}</h5>
        <p class="card-button">
          <span class="badge bg-light text-dark">معرف المعلم <span class="badge bg-secondary">{{ item.created_by.id}}</span></span>
          <span class="badge bg-light text-dark">معرف المادة <span class="badge bg-secondary">{{ item.id }}</span></span>
          <span class="badge bg-info text-dark">عدد الاسئلة <span class="badge bg-secondary">{{ item.comments }}</span></span>
          <span class="badge bg-warning text-dark">عدد الاجابات <span class="badge bg-secondary">4</span></span>
          <span class="badge bg-success">الحالة <span class="badge bg-danger">4</span></span>
          <span class="badge bg-danger">حذف <span class="badge bg-secondary">4</span></span>          
        </p>
        <a href="{% url 'questions' item.created_by.id item.id %}" class="btn btn-primary"> الاسئلة</a>
        <a href="{% url 'students' item.id %}" class="btn btn-primary"> الاجوبة</a>
        <span class="badge bg-light text-dark">تاريخ النشر <span class="badge bg-secondary">{{ item.created_dt|naturaltime }}</span></span>
      </div>
    </div>
  </div>
{%endfor%}
</div>

{% endblock content %}